<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>Sign Up</title>
    <link href="{{ url_for('static', filename='css/main3.css') }}" rel="stylesheet" type="text/css"/>
    <link href="{{ url_for('static', filename='css/font-awesome.css') }}" rel="stylesheet" type="text/css"/>
    <link href="{{ url_for('static', filename='css/font-awesome.min.css') }}" rel="stylesheet" type="text/css"/>
    <link href="../static/css/main3.css" rel="stylesheet" type="text/css"/>


    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
          integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css"
          integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"
            integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS"
            crossorigin="anonymous"></script>
    <link href="../static/css/font-awesome.css" rel="stylesheet" type="text/css"/>

    <link href="../static/css/font-awesome.min.css" rel="stylesheet" type="text/css"/>
</head>

<body>
<style>
    * {
        font-family: "B Mitra";
        background: "{{url_for('static',filename='img/paper_page.jpg')}}"
    }
</style>

<div id="container">


    <div id="head">


        <div id="menuss">
        </div><!--end of menuss-->


        <div id="logo">
            <a href="#"> سایت انتخاب رشته <i class="fa fa-star fa-3x"></i></a>
        </div><!--end of logo-->
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <ul class=flashes>
                    {% for message in messages %}
                        <li>{{ message }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}

        <div id="search">
            <!-- <input type="text" class="searchTerm" placeholder="What are you looking for?" /> -->
            <i class="fa fa-search fa-lg"></i>
        </div><!--end of propic-->


    </div><!--end of head-->

    <div id="main">

        <div id="col1">

            <div id="getmore">

            </div><!--end of getmore-->

        </div><!--end of col1-->


        <div id="col2">

            <div id="ID">
                {% for message in get_flashed_messages() %} {{ message }} {% endfor %}
                <form id="Sign Up" action="/send" method="post">
                    <div align='center' dir="rtl">

                        <p> {{ form.name.label }} {{ form.name(size=26 , class="login-input",placeholder="نام") }}</p>
                        <p> {{ form.LastName(size=21, class="login-input",placeholder="نام خانوادگی") }}</p>
                        {{ error }}

                        <div>
                            <label>گروه آزمایشی :</label></br>
                        <p><input type="radio" name="reshte" id="rizfiz" value="riazifizik">علوم ریاضی و فیزیک</input></p>
                        <p><input type="radio" id="tajrobi" name="reshte" value="tajrobi">علوم تجربی</input></p>
                        <p><input type="radio" id="ensani" name="reshte" value="ensani">علوم انسانی</input></p>
                        <p><input type="radio" id="honar" name="reshte" value="ensani">هنر</input></p>
                        <p><input type="radio" id="zaban" name="reshte" value="ensani">زبان های خارجه</input></p>
                        <input type="email" name="email" class="login-input" placeholder="آدرس ایمیل" required>
                        <input type="tel" name="telephone" class="login-input" placeholder="شماره موبایل" required>
                        <input type="date" name="date" class="login-input" placeholder="شماره موبایل" required>

                    </div>
                    <!-- <div align ="right"> -->
                        <!-- <br></br> -->
                    <!-- <p>پس از زدن دکمه تایید و ارسال اطلاعات , به صفحه درگاه پرداخت بانکی هدایت خواهید شد .</p> -->
                    <!-- <p><b> توجه و هشدار : </b> سایت ereshte کاملا معتبر میباشد . بانک به شرکت نامعتبر که اصالت آن بررسی نشده مجوز درگاه پرداخت بانکی را به هیچ عنوان نمیدهد . در صورت عدم اعتماد میتوانید مراتب را حضورا بررسی نمایید آدرس و شماره تلفن شرکت در صفحه <a href="/">اصلی</a> میباشد -->
                    </p>
                </div>
                    <br> </br>
                </div>
                    <div align='center'>
                        {{ form.submit(class="btn btn-primary ") }}
                        {{ form.hidden_tag() }}
                        <br></br>
                        <p></p>
                    </div>

                </form>
            </div><!-- end of ID -->


        </div><!--end of col2-->


    </div><!--end of main-->


</div><!--end of container-->

</body>

</html>
