<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Sign Up</title>
<link href="{{ url_for('static', filename='css/main3.css') }}" rel="stylesheet" type="text/css" />
<link href="{{ url_for('static', filename='css/font-awesome.css') }}" rel="stylesheet" type="text/css" />
<link href="{{ url_for('static', filename='css/font-awesome.min.css') }}" rel="stylesheet" type="text/css" />
<link href="../static/css/main3.css" rel="stylesheet" type="text/css" />

<link href="../static/css/font-awesome.css" rel="stylesheet" type="text/css" />

<link href="../static/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
</head>

<body background="../static/img/paper_page.jpg">


    <div id="container">


        <div id="head">


            <div id="menuss">
            </div><!--end of menuss-->


            <div id="logo">
                <a href="#"> سایت انتخاب رشته <i class="fa fa-star fa-3x"></i></a>
            </div><!--end of logo-->


            <div id="search">
                <!-- <input type="text" class="searchTerm" placeholder="What are you looking for?" /> -->
                <i class="fa fa-search fa-lg"></i>
            </div><!--end of propic-->



        </div><!--end of head-->

    <div id="main">

            <div id="col1">

                <div id="getmore">

                </div><!--end of getmore-->

            </div><!--end of col1-->



            <div id="col2">

                <!-- <div class="container" >
                {% for message in get_flashed_messages() %}
                <div class="alert alert-warning" style="background-color:yellow; color:black; padding:20px;">
                <a href="/mk.com/signup"><button type="button" class="close" data-dismiss="alert"> Try again</button></a>
                {{ message }}
                </div>
                {% endfor %}
                </div> -->

                 <div id="ID">
                    {% for message in get_flashed_messages() %} {{ message }} {% endfor %}
                    <form id="Sign Up" action="{{ url_for('home') }}"  method=post>
                    
                    <input type="text" name="firstname"class="login-input" placeholder="نام" autofocus>
                    <input type="text" name="lastname"class="login-input" placeholder="نام خانوادگی" autofocus>
                    <input type="email" name="email"class="login-input" placeholder="آدرس ایمیل" autofocus>
                    <input type="tel" name="cemail"class="login-input" placeholder="شماره موبایل" autofocus>
                    <input type="date" name="cemail"class="login-input" placeholder="شماره موبایل" autofocus>
                    <input type="submit" value="Submit" class="login-button">
                    </form>
                </div><!-- end of ID -->

                <p class="login-lost"><a href="">Forgot Password?</a></p>



            </div><!--end of col2-->


            <div id="col3">

                <li><i class="fa fa-star-o fa-lg"></i><a href="#">Login</a></li>

            </div><!--end of col3-->


        </div><!--end of main-->


</div><!--end of container-->

</body>

</html>
