<html>
<html>

<h1>taedd</h1 >

<script type="text/javascript">
/* <![CDATA[ */
  function get_object(id) {
   var object = null;
   if (document.layers) {
    object = document.layers[id];
   } else if (document.all) {
    object = document.all[id];
   } else if (document.getElementById) {
    object = document.getElementById(id);
   }
   return object;
  }
get_object("inputdata").innerHTML=DrawCode39Barcode(get_object("inputdata").innerHTML,1);
/* ]]> */
</script>


<!-- <div align="right"> -->
<!-- <p> ثبت نام شما با موفقیت به پایان رسید </p> -->
<!-- <p><h3> حتم از این صفحه پرینت گرفته و هنگام مراجعه این صفحه را در اختیار داشته باشید . این صفحه حکم بلیط ورود برای شما را دارد. <h2></p> -->
<!-- </div> -->

<!-- <p>شماره کاربری :{{ user_number }}</p> -->
<!-- <p>نام : {{ form.name.data }} </p> -->
<!-- <p> نام خانوادگی : {{ form.LastName.data }} </p> -->
<!-- <p>شماره تماس : {{ phone }}</p> -->
<!-- <p>تاریخ مراجعه: {{ date }}</p> -->
<!-- <p> گروه آزمایشی :{{ reshte }}</p> -->
<!-- <p> ایمیل :{{ form.email.data }}</p> -->
<!-- <p><SPAN style="BORDER-LEFT: black 0.02in solid; DISPLAY: inline-block; HEIGHT: 1in"></SPAN> -->
<!-- <SPAN style="BORDER-LEFT: white 0.06in solid; DISPLAY: inline-block; HEIGHT: 1in"></SPAN> -->
<!-- <SPAN style="BORDER-LEFT: black 0.02in solid; DISPLAY: inline-block; HEIGHT: 1in"></SPAN> -->
<!-- <SPAN style="BORDER-LEFT: white 0.02in solid; DISPLAY: inline-block; HEIGHT: 1in"></SPAN></p> -->
<!-- <p> -->
<!-- <button type="submit" name="sss" value="چاپ بلیط">چاپ بلیط</button> -->
<!-- </p> -->
<!-- <p></p> -->
<!-- <p>تلفن 11223344</p> -->
<!-- <p>آدرس : جوادیه - 20 متری - موسوی</p> -->



<!-- </body> -->
<!-- </html> -->